/* 
Theme Name: Hello Elementor Child
Theme URI: https://github.com/elementor/hello-theme/
Description: Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author: Giacomo Lanzi
Author URI: https://planbproject.it/
Template: hello-elementor
Version: 1.0.1
Text Domain: hello-elementor-child
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/*
    Add your custom styles here
*/

/*
    Allow images to adapt in order to cover vertically 100% of the available space.
    Add the class="extended-high" to the image to allow it to cover the whole vertical space available.
    Better suited for image on the side of text in two different column.
*/
.extended-high, 
.extended-high .elementor-widget-container, 
.extended-high .elementor-image, 
selector .elementor-image a {
    height: 100%;
}
.extended-high .elementor-image img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
}
